---
title: Sistema de Información Agroecológica
---
%header.row
  .twelve.columns
    %h2.main-title Sistema de Información Agroecológica
.row
  .four.columns
    .row
      .twelve.columns.mobile-four
        %h3
          ¿Dónde estás?
    .row
      .eight.mobile-three.columns
        %input#inputSearch{:type => "text"}
      .four.mobile-one.columns
        %input.button.expand.postfix#btnSearch{:type => "submit", :value => "Buscar"}
    .row
      .twelve.columns
        %i
          Ej: Av. Rivadavia 1843, Buenos Aires
    .row
      .twelve.columns#results.results
        %p
          DESCRIPCIÓN DE LA APLICACIÓN.
        %h4 Pasos
        %ol
          %li Ingresa tu localización (escribe una dirección postal y localidad para ver los productores más cercanos a tu domicilio).
          %li
            Escoge el tipo
          %li
            Selecciona el productor para consultar el detalle de su producción y datos por él informados.
  .eight.columns.mobile-four
    %dl.tabs
      %dd.active
        %a{:href => "#simple1"} Mapa
      %dd
        %a{:href => "#simple2"} Agregar
      %dd
        %a{:href => "#simple3"} Proyecto
      %dd
        %a{:href => "#simple4"} Equipo
    %ul.tabs-content
      %li#simple1Tab.active
        .twelve.columns.mobile-four
          #fusion-information{:data => {:fusion => data.config.fusion, api: data.config.gm}}
          #map_canvas
      %li#simple2Tab
        .row
          .twelve.columns.mobile-four
            %iframe{:frameborder => "0", :scrolling => "no", :height => "3300", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/spreadsheet/embeddedform?formkey=dEtReENkd1lfb0lZYnZEYVViU2NsY3c6MQ&f=Ubuntu&tc=333333", :width => "630"} Loading...
      %li#simple3Tab
        .row
          .twelve.columns.mobile-four.project
            %h2
              Proyecto
            %p
              Existe una creciente demanda social acerca de los productos agroecológicos debido a la contaminación que producen los agroquímicos en suelos, aire, agua, fauna, flora y en la población en general.
            %h4
              Objetivos
            %p
              Relevar los sistemas de producción agroecológica en Argentina. De esta manera la información recabada permitirá a la población tener conocimiento de los emprendimientos más próximos a su domicilio.
            %h4
              Datos técnicos
            %p
              Esta aplicación web muestra el resultado de los datos cargados en el formulario y genera un  set de datos en Google Fusiontables. La utilización de la API de Google Maps y la geolocalización implementada en esta aplicación para navegadores tanto en dispositivos móviles como de escritorio permite encontrar los productores agroecológicos más próximos.
            %p
              Este es un proyecto de OpenData, de actualización distribuida y de desarrollo colaborativo ya que el alcance de la base de datos depende de los propios productores.
            %p
              La aplicación comenzó a realizarse en el hackatón "
              %a{:href => "http://agrodatos.info/"}
                Agrodatos 2" realizado en agosto de 2015 en la Universidad Nacional de Córdoba.
            %p
              Si tiene alguna duda o sugerencia, contactate con al administrador por mail a
              %a{:href => "mailto:pollatos@gmail.com"}
                pollatos@gmail.com
      %li#simple4Tab.team
        .row.member
          .twelve.columns.mobile-four
            %p
              Las personas que desarrollan y mantienen esta aplicación son: 
        .row.member
          .two.columns.mobile-one
            = link_to image_tag("pollatos.jpg"), "https://twitter.com/pollatos"
          .ten.columns.mobile-three
            %a{:href => "http://pollatos.wordpress.com/"} Sergio Sorin
            %br/
            Periodista y hacktivista de datos
        .row.member
          .two.columns.mobile-one
            = link_to image_tag("Gustavo.jpg"), "https://twitter.com/gus0305"
          .ten.columns.mobile-three
            %a{:href => "https://twitter.com/gus0305"} Gustavo Kocsis
            %br/
            Ingeniero Agrónomo
        .row.member
          .two.columns.mobile-one
            = link_to image_tag("Carmen.png"), "#"
          .ten.columns.mobile-three
            %a{:href => "mailto:carmenmati@gmail.com"} Cármen Cabanillas
            %br/
            Ingeniera Agrónoma y Magister en Ingeniería Ambiental
%script#infowindowTemplate{:type => "text/template"}
  :plain
    <section class='infowindow'>
      <header>
        <h4>
          <% if(!isBlank(web)){ %>
            <a href='http://<%= web %>'><%= name %></a>
          <% } else { %>
            <%= name %>
          <% } %>
        </h4>
      </header>
      <article>
        <ul>
          <% if(!isBlank(state)){ %>
            <li><%= state %></li>
          <% } %>
          <% if(!isBlank(address)){ %>
            <li><%= address %></li>
          <% } %>
          <% if(!isBlank(phone)){ %>
            <li><%= phone %></li>
          <% } %>
          <% if(!isBlank(email)){ %>
            <li><%= email %></li>
          <% } %>
          <% if(!isBlank(service_days)){ %>
            <li><%= service_days %></li>
          <% } %>
          <% if(!isBlank(service_hours)){ %>
            <li><%= service_hours %></li>
          <% } %>
        </ul>
      </article>
    </section>
%script#resultsTemplate{:type => "text/template"}
  :plain
    <h4>Resultados (<%= results.length %>)</h4>
    <% if (results.length === 0) { %>
      <i>En esta localización no hay información disponibles por el momento</i>
    <% } %>
    <% _.each(results, function(result){ %>
      <% if(result.hasOwnProperty("partial") && result.partial === "address"){ %>
        <section class='result address'>
          <ul>
            <li>
              <%= result.address %>
              <br />
              <a class='organization_point' data-latitude='<%= result.latitude %>' data-longitude='<%= result.longitude %>' href='#'>Ver en el mapa</a>
            </li>
          </ul>
        </section>
      <% } else { %>
        <section class='result organization'>
          <ul>
            <li>
              <% if(!isBlank(result.web)){ %>
              <a href="<%= result.web %>"><%= result.name %></a>
              <% } else { %>
              <%= result.name %>
              <% } %>
            </li>
            <% if(!isBlank(result.phone)){ %>
              <li><%= result.phone %></li>
            <% } %>
            <% if(!isBlank(result.address)){ %>
              <li><%= result.address %></li>
            <% } %>
            <% if(!isBlank(result.state)){ %>
              <li><%= result.state %></li>
            <% } %>
            <% if(!isBlank(result.email)){ %>
              <li><%= result.email %></li>
            <% } %>
            <% if(!isBlank(result.service_days)){ %>
              <li><%= result.service_days %></li>
            <% } %>
            <% if(!isBlank(result.service_hours)){ %>
              <li><%= result.service_hours %></li>
            <% } %>
            <li>
              <a class='organization_point' data-latitude='<%= result.latitude %>' data-longitude='<%= result.longitude %>' href='#'>Ver en el mapa</a>
            </li>
          </ul>
        </section>
      <% } %>
    <% }); %>

